img#slides{
    border-radius: 10%;
    border-left: 10rem;
}
div#pokemonpics{
    vertical-align: middle!important;
    margin-left: 25%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 10%;
}

div.carousel-inner{
    background-color:#EDEDED;
    height:75%;
}

div.carousel.slide{
    height:100%;
}
p{
    color:black;
}

h3{
    color:black;
}
